.emptydiv {
  width: 250px;
}
.content {
  width: calc(100% - 250px);
}
@media (max-width: 1010px) {
  .emptydiv {
    display: none;
  }
  .content {
    width: 100%;
  }
}
.content .box {
  display: block;
  width: 23%;
  color: #fff;
  margin-top: 50px;
}
@media (max-width: 1010px) {
  .content .box {
    width: 48%;
  }
}
.content .box a {
  border-radius: 10px;
  display: block;
  height: 176px;
}
.content .box a i {
  display: block;
  font-size: 35px;
  opacity: 0.5;
  margin-bottom: 15px;
  color: #fff;
}
.content .box .number {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
}
.content .box .text {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.box-shadow {
  box-shadow: 0px 6px 15px 0px rgb(0 0 0 / 10%);
}
.content .box2 a {
  background-color: #c0ca33;
}
.content .box3 a {
  background-color: #f57f17;
}
.content .box4 a {
  background-color: #e91e63;
}

.content .alert {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 10px;
  color: #0c5460;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 13px;
}
.content hr {
  border-top-color: #abdde5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.content .left-box {
  width: 49%;
}
@media (max-width: 1010px) {
  .content .left-box {
    width: 100%;
  }
}
.content .left-box .admin {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
}
.content .left-box .admin textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  display: block;
  border: 1px solid #ced4da;
}

.content .left-box .admin a {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 10px;
  padding: 7px 20px;
  font-size: 16px;
  line-height: 1.5;
}

.content .left-box .Activities {
  background-color: #fff;
  border-radius: 10px;
}

.content .left-box .Activities .comment .comment-user {
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #eeeded;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.content .left-box .Activities .comment img {
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
  margin-top: 10px;
}
.content .left-box .Activities .date {
  margin-left: 40px;
  font-size: 11px;
  line-height: 14px;
  color: #424242;
  display: block;
}

.content .right-box {
  width: 49%;
}
@media (max-width: 1010px) {
  .content .left-box .Activities {
    margin-bottom: 40px;
  }
  .content .right-box {
    width: 100%;
  }
}
.content .right-box .Reviews {
  background-color: #fff;
}
