.content .breadcrumb {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff !important;
  opacity: 1;
}
.content .breadcrumb ul {
  opacity: 0.5;
}
.content .breadcrumb h1 {
  margin-bottom: 0;
  font-weight: 400;
  color: #000;
  font-size: 30px;
}
