.head {
  justify-content: center !important;
  width: 100%;
  padding-bottom: 50px;
}

.head .title {
  width: 25%;
}
.head .title h1 {
  margin-top: 5px;
}
.head .parg {
  width: 42%;
  margin-right: 30px;
  line-height: 25px;
}
.head .parg p {
  margin-top: 0;
}
.head .show-all {
  width: 15%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
}
.head .show-all i {
  margin-left: 10px;
  font-size: 20px;
}

@media (max-width: 1010px) {
  .head {
    justify-content: space-between !important ;
  }
  .head .title {
    width: 29%;
  }
  .head .parg {
    width: 50%;
    margin-right: 0;
  }
  .head .show-all {
    width: 18%;
  }
}

@media (max-width: 600px) {
  .head .title,
  .head .parg,
  .head .show-all {
    width: 100%;
    text-align: center;
  }
}
