.AddListing form i {
  margin-right: 10px;
  font-weight: 600;
}
.AddListing form .width48 {
  width: 48%;
}

.AddListing form .width100 {
  width: 100%;
}
@media (max-width: 770px) {
  .AddListing form .width48 {
    width: 100%;
  }
}
.AddListing .border-rad20 {
  border-radius: 20px;
}
.AddListing .margin-bot20 {
  margin-bottom: 20px;
}

.AddListing form label {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
}
.AddListing form input,
.AddListing form select,
.AddListing form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.Basic,
.Description,
.Socials {
  margin-bottom: 40px;
}

.AddListing .button {
  width: 100%;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}
.AddListing .button a {
  width: 100%;
  display: block;
  color: #fff;
}
